<% @hub_pablol[0..2].each do |r|  %>
  <li class="list-group-item">
    <span class="d-inline-block text-truncate" style="max-width: 100%;">
        <%= link_to '📔DA', "/hub?q=#{r['title']}", title: 'Doublethink Archive' %>
        <%= r['pub_time'].to_date.strftime('%F') %>
        <%= icon_url(URI.escape r['url']) %>
        <%= link_to "#{r['channel_name']} #{r['creator']}", r['url'], target: '_blank' %><%= " #{r['title']} #{ActionView::Base.full_sanitizer.sanitize r['summary']}" %>
    </span>
  </li>
  <% end %>
