<li class="list-group-item" date="1999-01-01">
  <%= link_to "📘CrowdTangle Realtime Search Result #{@ct_count || 0}", @ct_dl, title: 'CrowdTangle', target: '_blank' %></li>


<% @hub_crowdtangle.each do |r|  %>
<% date = r['date'].to_date.strftime('%F') %>

<li class="list-group-item" date=<%= date %>>
  <span class="d-inline-block text-truncate" style="max-width: 100%;">
    <%= link_to '📘PR', "/hub?q=#{r['description']}", title: 'Crowdtangle' %>
    <%= date %>
    <%= link_to(icon_url(URI.escape r['link']), r['link'], target: '_blank') if r['link']  %>
    <%= link_to "#{r['account']['name']}", r['postUrl'], target: '_blank' %><%= " #{r['message']}" %><%= " #{r['description']}" %>
  </span>
</li>
<% end %>