<li class="list-group-item" date="1999-01-01" >  <%= link_to "📙CF #{@cf_count || 0} ", @cf_dl, title: 'Cofacts', target: '_blank' %></li>


  <% @hub_cofact[0..2].each do |r|  %>
      <% date =  r['createdAt'].to_date.strftime('%F') %>

  <li class="list-group-item" date=<%= date %>>
<span class="d-inline-block text-truncate" style="max-width: 100%;">
    <%= link_to '📙CF', "/hub?q=#{r['text']}", title: 'Cofacts' %>
    <%= date %>
    <% if (r['hyperlinks'] && r['hyperlinks'][0] && r['hyperlinks'][0]['url'])  %>
      <%= link_to icon_url(URI.escape r['hyperlinks'][0]['url']), r['hyperlinks'][0]['url'], target: '_blank' %>
    <% end %>
    <%= link_to "#{r['text']}", "https://cofacts.g0v.tw/article/#{r['id']}", target: '_blank' %> <%= " #{r['articleReplies'][0]['reply']['text'] if r['articleReplies'][0]}" %>
</span>
  </li>
  <% end %>