<li class="list-group-item" date="1999-01-01">
  <%= link_to "ðŸ¦Twitter Search Result #{@tt_count || 0}", @tt_dl, title: 'Twitter Search Result', target: '_blank' %></li>

<% @hub_twint.take(20).each do |r|  %>
<% date = r['date'].to_datetime.strftime('%F %R') %>

<li class="list-group-item" date=<%= date %>>
  <span class="d-inline-block text-truncate" style="max-width: 100%;">
    <%= link_to 'ðŸ¦TT', "/hub?q=#{r['tweet']}", title: 'Twitter Search Result' %>
    <%= date %>
    <%= link_to icon_url(r['quote_url']), r['quote_url'], target: '_blank' %>
    <%= link_to r['username'], r['link'], target: '_blank' %>
    <%= " #{r['tweet']}" %>
  </span>
</li>
<% end %>