<li class="list-group-item" date='1987-04-24'>
  <%= link_to "ðŸ“’GF #{$gf_count || 0}", $gf_dl, title: 'Google Factcheck', target: '_blank' %>
  <%= link_to "ðŸ“™CF #{$cf_count || 0} ", $cf_dl, title: 'Cofacts', target: '_blank' %>
  <%= link_to "ðŸ“˜CT #{$ct_count || 0}", $ct_dl, title: 'CrowdTangle', target: '_blank' %>
  <%= link_to "ðŸ“šDS #{$ds_count || 0}", $ds_dl, title: 'Doublethink Site Archive', target: '_blank' %>
  <%= link_to "ðŸ“—FB #{$fb_count || 0}", $fb_dl, title: 'Doublethink Crowdtangle Archive', target: '_blank' %>
  <%= link_to "ðŸ“°DM #{$dm_count || 0}", $dm_dl, title: 'Doublethink Media', target: '_blank' %>
  <%= link_to("ðŸ“•DT #{$dt_count || 0}", $dt_dl, title: 'Doublethink Database', target: '_blank') %>
  <%= link_to("ðŸ“”DA #{$da_count || 0}", $da_dl, title: 'Doublethink Archive', target: '_blank') %>
  <%= button_tag 'â†•ï¸', onclick: "Array.prototype.slice.call(document.querySelectorAll('.list-group-item')).sort(function(a, b) {
    return a.getAttribute('date').localeCompare(b.getAttribute('date'));
  }).forEach(function(currValue) {
    currValue.parentNode.appendChild(currValue);
  });", class: 'btn btn-default' %>
</li>