  <% @hub_cofact[0..2].each do |r|  %>
  <li class="list-group-item">
<span class="d-inline-block text-truncate" style="max-width: 100%;">
    <%= link_to '📙CF', "/hub?q=#{r['text']}", title: 'Cofacts' %>
    <%= r['createdAt'].to_date.strftime('%F') %>
    <% if (r['hyperlinks'] && r['hyperlinks'][0] && r['hyperlinks'][0]['url'])  %>
      <%= link_to icon_url(URI.escape r['hyperlinks'][0]['url']), r['hyperlinks'][0]['url'] %>
    <% end %>
    <%= link_to "#{r['text']}", "https://cofacts.g0v.tw/article/#{r['id']}", target: '_blank' %> <%= " #{r['articleReplies'][0]['reply']['text'] if r['articleReplies'][0]}" %>
</span>
  </li>
  <% end %>