<% @hub_media.each do |r|  %>
        <% date = r['updated'].to_date.strftime('%F') %>
  <li class="list-group-item" date=<%= date %>>
    <span class="d-inline-block text-truncate" style="max-width: 100%;">
        <%= link_to '📰DM', "/hub?q=#{r['title']}", title: 'Doublethink Media' %>
        <%= date %>
        <%= link_to icon_url(URI.escape r['url']), r['url'], target: '_blank' %>
        <%= " #{r['title']}"%>
    </span>
  </li>
  <% end %>
