<% @hub_crowdtangle[:posts_by_date].each do |r|  %>
<li class="list-group-item">
<span class="d-inline-block text-truncate" style="max-width: 100%;">

  <%= link_to '🟦', "/hub?q=#{r['description']}" %>
  <%= r['date'].to_date.strftime('%y%m%d') %>
  <%= link_to "#{r['account']['name']}", r['postUrl'], target: '_blank' %><%= r['message'] %><%= r['description'] %>
</span>
</li>
<% end %>