<li class="list-group-item">
  <%= link_to "📒GF #{$gf_count}", $gf_dl, title: 'Google Factcheck' %>
  <%= link_to "📙CF #{$cf_count} ", $cf_dl, title: 'Cofacts' %>
  <%= link_to "📘CT #{$ct_count}", $ct_dl, title: 'CrowdTangle' %>
  <%= link_to "📚DS #{$ds_count}", $ds_dl, title: 'Doublethink Site Archive' %>
  <%= link_to "📗FB #{$fb_count}", $fb_dl, title: 'Doublethink Crowdtangle Archive' %>
  <%= link_to "📰DM #{$dm_count}", $dm_dl, title: 'Doublethink Media' %>
  <%= link_to("📕DT #{$dt_count}", $dt_dl, title: 'Doublethink Database') %>
  <%= link_to("📔DA #{$da_count}", $da_dl, title: 'Doublethink Archive') %>
</li>
