<% to_title params.values[0..-2].join(' - ') %>

<ul class="list-group">
  <%# button_tag 'â†•ï¸', onclick: "Array.prototype.slice.call(document.querySelectorAll('.list-group-item')).sort(function(a, b) {
  return a.getAttribute('date').localeCompare(b.getAttribute('date'));
}).forEach(function(currValue) {
  currValue.parentNode.appendChild(currValue);
});", class: 'btn btn-default' %>
  <%# render_async hub_datacount_path, interval: 5000  %>
  <%= render_async hub_dtl_path(params.to_enum.to_h) do %>
    <li class="list-group-item">Doublethink Database (Take around 30 seconeds)...
    <%# TODO data discrptions %>
    <%# (if ðŸ“˜CrowdTangle Historical Realtime return more then 100, please reload in a few minutes, or please wait around 70 seconds) %>
    </li>
  <% end %>

  <%= render :partial => "hub_fetcher" %>

  <b><li class="list-group-item">Factcheck References</li></b>
  <%= render_async_cache hub_claim_path(params.to_enum.to_h) do %>
  <li class="list-group-item">Google Factcheck...</li>
  <% end %>

  <%= render_async_cache hub_cofact_path(params.to_enum.to_h) do %>
  <li class="list-group-item">Cofacts...</li>
  <% end %>
</ul>
<br>
<br>
<form class="form-inline searchbar">
  <%= date_field_tag :start_date, params[:start_date] %>
  <%= date_field_tag :end_date, params[:end_date] %>
  <%= submit_tag "ðŸ”", :name => nil %>
  <input type="search" id="search" placeholder="é—œéµå­—è©žçµ„" name="q" style="width: 100%" value="<%= params[:q] %>">
</form>
