<% to_title params.values[0..-2].join(' - ') %>

<ul class="list-group">
  <%= button_tag 'â†•ï¸', onclick: "Array.prototype.slice.call(document.querySelectorAll('.list-group-item')).sort(function(a, b) {
  return a.getAttribute('date').localeCompare(b.getAttribute('date'));
}).forEach(function(currValue) {
  currValue.parentNode.appendChild(currValue);
});", class: 'btn btn-default' %>
  <%# render_async hub_datacount_path, interval: 5000  %>
  <%= render_async_cache hub_claim_path(params.to_enum.to_h) do %><li class="list-group-item">Google Factcheck...</li>
  <% end %>
  <%= render_async_cache hub_cofact_path(params.to_enum.to_h) do %><li class="list-group-item">Cofacts...</li><% end %>

  <%= render_async_cache hub_crowdtangle_profile_path(params.to_enum.to_h) do %>
    <li class="list-group-item"> CrowdTangle Facebook Profile...</li>
  <% end %>
  <%= render_async_cache hub_crowdtangle_page_path(params.to_enum.to_h) do %>
    <li class="list-group-item">CrowdTangle Facebook Page...</li>
  <% end %>
  <%= render_async_cache hub_crowdtangle_group_path(params.to_enum.to_h) do %>
    <li class="list-group-item"> CrowdTangle Facebook Group...</li>
  <% end %>

  <%= render_async_cache hub_fblinks_path(params.to_enum.to_h) do %><li class="list-group-item">FB...</li><% end %>
  <%= render_async_cache hub_domain_path(params.to_enum.to_h) do %><li class="list-group-item">Doublethink Site...</li>
  <% end %>
  <%= render_async_cache hub_media_path(params.to_enum.to_h) do %><li class="list-group-item">Doublethink Media...</li>
  <% end %>
  <%= render_async_cache hub_pablol_path(params.to_enum.to_h) do %><li class="list-group-item">Doublethink Archive...
  </li><% end %>
  <%= render_async_cache hub_pablo_path(params.to_enum.to_h) do %><li class="list-group-item">Doublethink...</li>
  <% end %>
  <%= render_async_cache hub_twint_path(params.to_enum.to_h) do %><li class="list-group-item">Twitter...</li><% end %>
  <%= render_async_cache hub_wikipedia_path(params.to_enum.to_h) do %><li class="list-group-item">Wikipedia...</li>
  <% end %>
</ul>
<br>
<br>
<form class="form-inline searchbar">
  <%= date_field_tag :start_date, params[:start_date] %>
  <%= date_field_tag :end_date, params[:end_date] %>
  <%= submit_tag "ðŸ”", :name => nil %>
  <input type="search" id="search" placeholder="é—œéµå­—è©žçµ„" name="q" style="width: 100%" value="<%= params[:q] %>">
</form>

